@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 14px;
  color: #FFF;
  color: #0B3B3C;
}

.container2 {
  margin: 0 auto;
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: #FFF;
  padding-top: 18px;
  padding-bottom: 24px;
  position: fixed;
  z-index: 4;
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  margin-right: 28px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3px;
}

.header__menu-link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  border: 1px solid transparent;
}

.header__menu-link:hover {
  border-bottom: 1px solid #1E1F22;
}

.header__menu-item::last-child {
  margin: 0;
}

.header__logo {
  margin-right: 25px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.offer {
  padding-top: 170px;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 50vh;
  padding-bottom: 180px;
}

.offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__item {
  text-align: center;
  max-width: 470px;
}

.offer__item-title {
  font-size: 54px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 23px;
}

.offer__item-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 41px;
}

.offer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 320px;
  color: #0B3B3C;
}

.offer__btn-1 {
  text-align: center;
  text-transform: uppercase;
  background-color: #7E0707;
  border: 2px solid #7E0707;
  margin-bottom: 20px;
  padding: 15px;
  color: #FFF;
  letter-spacing: 2.1px;
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  font-family: 'Roboto', sans-serif;
}

.offer__btn-1:hover {
  background-color: transparent;
  color: #7E0707;
}

.offer__btn-2 {
  text-transform: uppercase;
  border: 2px solid #7E0707;
  padding: 15px;
  background-color: transparent;
  color: #7E0707;
}

.header__logo2 {
  display: none;
}

.header__logo3 {
  display: none;
}

.items {
  padding-top: 55px;
  padding-bottom: 50px;
}

.items__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  line-height: 20px;
}

.items__block-text {
  margin-left: 14px;
}

.healthcare {
  padding-top: 80px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  padding-bottom: 26px;
}

.healthcare__top {
  text-align: center;
  padding-bottom: 23px;
  position: relative;
}

.healthcare__top span {
  color: #00B67A;
  font-weight: 700;
  margin-right: 6px;
}

.healthcare__title {
  font-size: 35px;
  line-height: 60px;
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-bottom: 10px;
}

.healthcare__text {
  margin-top: 10px;
  font-size: 18px;
  line-height: 30px;
}

.healthcare__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.healthcare__item {
  text-align: center;
  position: relative;
  max-width: 339px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.healthcare__item img {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  min-height: 270px;
  -o-object-fit: contain;
     object-fit: contain;
}

.healthcare__item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.healthcare__item-title {
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.84px;
  font-weight: 700;
}

.healthcare__item-text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 57px;
}

.healthcare__arrow {
  display: none;
}

.healthcare__image {
  max-width: 112px;
  margin: 0 auto;
}

.products {
  padding-top: 60px;
  padding-bottom: 50px;
}

.products__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

.products__title {
  text-align: center;
  font-size: 35px;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 43px;
}

.products__item img {
  max-width: 500px;
  max-height: 300px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.products__item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.products__item {
  background-color: #E8EFE9;
  max-width: 677px;
  padding-bottom: 48px;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__item-title {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.products__item-text {
  max-width: 517px;
  margin: 0 auto;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 29px;
}

.products__item-link {
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2.1px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  display: inline-block;
  border: 2px solid transparent;
}

.products__item-link:hover {
  border-bottom: 2px solid #0B3B3C;
}

.wellbeing__inner {
  background-color: #E8EFE9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 48px;
}

.wellbeing__item {
  max-width: 700px;
}

.wellbeing__item-heading {
  color: #0B3B3C;
  background-color: #bdcdc5;
  max-width: 42px;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.wellbeing__item-title {
  font-size: 36px;
  line-height: 60px;
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-bottom: 28px;
}

.wellbeing__item-text {
  max-width: 600px;
  color: #0B3B3C;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  margin-bottom: 37px;
}

.wellbeing__item-btn {
  background-color: #7E0707;
  display: inline-block;
  text-transform: uppercase;
  min-width: 320px;
  padding: 15px;
  border: 2px solid transparent;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2.1px;
  font-weight: bold;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  margin-bottom: 55px;
}

.wellbeing__item-btn:hover {
  background-color: transparent;
  color: #7E0707;
  border: 2px solid #7E0707;
}

.wellbeing__item-undertext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
}

.wellbeing__item-undertext-p1 {
  position: relative;
}

.wellbeing__item-undertext-p1::before {
  content: '';
  display: none;
  position: absolute;
  background: url("../img/before-galochka.svg");
  width: 11px;
  height: 11px;
  right: 131px;
  bottom: 10px;
}

.wellbeing__item-undertext-p2 {
  position: relative;
}

.wellbeing__item-undertext-p2::before {
  content: '';
  display: none;
  position: absolute;
  background: url("../img/before-galochka.svg");
  width: 11px;
  height: 11px;
  right: 168px;
  bottom: 10px;
}

.wellbeing__item-undertext-p3 {
  position: relative;
}

.wellbeing__item-undertext-p3::before {
  content: '';
  display: none;
  position: absolute;
  background: url("../img/before-galochka.svg");
  width: 11px;
  height: 11px;
  right: 191px;
  bottom: 10px;
}

.wellbeing__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.wellbeing__item-right {
  text-align: center;
  padding: 35px;
  background-color: #fff;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  cursor: pointer;
}

.wellbeing__item-right:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.doctor {
  text-align: center;
  padding-top: 40px;
}

.doctor__text {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #0B3B3C;
}

.doctor__img {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.doctor__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.doctor__name {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #0B3B3C;
}

.doctor__bottom {
  margin-top: 45px;
}

.doctor__bottom-text {
  margin-top: 18px;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
}

.slider3__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider3__item {
  background-color: #E8EFE9;
  max-width: 716px;
  text-align: center;
  padding: 140px 92px 140px 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.slider3__item-text {
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 0.84px;
  margin-top: 53px;
}

.review {
  margin-top: 65px;
  margin-bottom: 65px;
}

.review__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #E8EFE9;
  margin-right: 10px;
  padding-top: 132px;
  padding-right: 92px;
  padding-left: 92px;
  padding-bottom: 307px;
  max-height: 600px;
  max-width: 580px;
  position: relative;
}

.review__slider-title {
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 0.84px;
  font-weight: 400;
  margin-bottom: 140px;
}

.team {
  padding-top: 120px;
}

.team__inner::after {
  content: '';
  display: block;
  position: absolute;
  width: 1150px;
  height: 1px;
  background-color: #BDCDC5;
  bottom: 0;
  margin-bottom: 45px;
  margin-top: 50px;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__top span {
  color: #7E0707;
}

.team__top {
  text-align: center;
  margin-bottom: 30px;
  max-width: 832px;
  margin: 0 auto;
}

.team__title {
  font-size: 35px;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
}

.team__text {
  font-size: 24px;
  line-height: 43px;
  letter-spacing: 0.72px;
  font-weight: 400;
}

.team__item {
  margin-top: 50px;
  margin-right: 42px;
}

.team__item-name {
  margin-top: 37px;
  margin-bottom: 10px;
  font-weight: 400;
}

.team__item-text {
  color: #91AB9F;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  margin-top: 7px;
}

.team__item img {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 300px;
}

.team__item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultation__title {
  font-size: 20px;
  line-height: 43px;
  font-weight: 400;
  position: relative;
  letter-spacing: 0.72px;
}

.consultation__title::before {
  content: '';
  background: url("../img/before-img3.png");
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: -57px;
  top: 17px;
}

.consultation__text {
  font-size: 15px;
  line-height: 29px;
  color: #91AB9F;
}

.consultation__btn {
  display: inline-block;
  padding: 15px 68px;
  background-color: #7E0707;
  text-transform: uppercase;
  border: 2px solid #7E0707;
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2.1px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.consultation__btn:hover {
  border: 2px solid #7E0707;
  background-color: #FFF;
  color: #7E0707;
}

.human {
  background-image: url("../img/human-img.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 165px;
  padding-top: 100px;
}

.human__heading {
  max-width: 360px;
  margin-top: 250px;
  text-align: center;
}

.human__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 15px;
}

.human__name {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2.1px;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
}

.treat {
  padding-top: 55px;
  background-color: #F3F7F4;
  padding-bottom: 40px;
}

.treat__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.treat__btns {
  text-align: center;
}

.treat__btn {
  background-color: #7E0707;
  border: 2px solid #7E0707;
  text-transform: uppercase;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.1px;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 70px;
  font-weight: 700;
  margin-right: 20px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.treat__btn:hover {
  background-color: #F3F7F4;
  color: #7E0707;
}

.treat__btn:last-child {
  margin: 0;
}

.guided {
  padding-top: 100px;
}

.guided__title {
  text-align: center;
  margin-bottom: 36px;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1.2px;
  font-weight: 700;
}

.guided__text {
  text-align: center;
  font-size: 23px;
  line-height: 43px;
  letter-spacing: 0.72px;
  font-weight: 400;
  max-width: 558px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__item img {
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 300px;
}

.slider__item-title {
  margin-top: 15px;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.72px;
  max-width: 242px;
  margin-bottom: 77px;
}

.slider__item-btn {
  font-size: 14px;
  letter-spacing: 2.1px;
  line-height: 20px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.slider__item-btn:hover {
  border-bottom: 2px solid #0B3B3C;
}

.footer {
  margin-top: 100px;
  padding-top: 40px;
  background-color: #0B3B3C;
  color: #FFF;
  padding-bottom: 40px;
  width: 100%;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-left {
  max-width: 221px;
}

.footer__top-left--title {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2.1px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__top-left--text {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.84px;
  font-weight: 400;
  color: #6D8A83;
  margin-top: 10px;
}

.footer__top-left--contacts::last-child {
  margin: 0;
}

.footer__top-left--contacts {
  -width: 170px;
  margin-top: 10px;
  padding-left: 35px;
  margin-bottom: 30px;
}

.footer__top-left--phone {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.84px;
  position: relative;
}

.footer__top-left--phone::before {
  content: '';
  background: url("../img/footer-phone.svg");
  position: absolute;
  width: 27px;
  height: 26px;
  left: -38px;
  top: 1px;
}

.footer__top-left--date {
  font-size: 12px;
  line-height: 21px;
  line-height: 0.72px;
  color: #6D8A83;
  margin-top: 10px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu-list:last-child {
  margin-right: 0;
}

.footer__menu-list:first-child {
  margin-right: 281px;
}

.footer__menu-item:first-child {
  color: #6D8A83;
  line-height: 14px;
  line-height: 19px;
  letter-spacing: 2.1px;
}

.footer__menu-item:last-child {
  margin: 0;
}

.footer__menu-item {
  margin-bottom: 14px;
}

.footer__menu-link {
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  color: #FFF;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  border-bottom: 1px solid transparent;
}

.footer__menu-link:hover {
  border-bottom: 1px solid #FFF;
}

.footer__bottom {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom-item {
  margin-top: 54px;
}

.footer__bottom-item--link {
  margin-right: 20px;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.72px;
}

.footer__bottom-item--link:last-child {
  margin: 0;
}

.footer__bottom-item--text {
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 0.72px;
  font-weight: 400;
  color: #6D8A83;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer__bottom-item--text:last-child {
  margin: 0;
}

.header__burger {
  display: none;
}

.footer__icon {
  cursor: pointer;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  margin-right: 13px;
}

.footer__icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slick-track {
  margin: auto;
}

.circle-img {
  position: absolute;
  left: -33px;
  top: 265px;
}

.stars {
  margin-right: 50px;
}

/* Слайдер / */
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
